/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "clrs";
@import "foundation_and_overrides";
#post {
  width: 50%;
  padding: 10px;
  background-color: #6E6E6E;
  border-radius: 0px 5px 0px 5px;
  color: white;
  margin: 3px;
}

.like-bar {
  display: inline;
}

.comment-bar {
  display: inline;
  position: relative;
  left: 18px;
  background-color: #E3CCC1;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-style: bold;
  border-radius: 0px 0px 5px 0px;
  color: $black;
  transition: background-color 2s;
}

.like-bar {
  display: inline;
  position: relative;
  left: 20px;
  background-color: $red;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-style: bold;
  border-radius: 0px 0px 5px 0px;
  color: $white;
  transition: background-color 1s;
}

.like-bar:hover {
  background-color: $orange;

}

.comment-bar:hover {
  background-color: #D4B700;

}

.comments {
  background-color: #C9BC9D;
  padding: 15px;
  border-radius: 0px 5px 0px 15px;
  width: 40%;
  margin: 3px;

}

.icon-button {
  padding: -20px;
}
.other-comments {
  background-color: #C9BC9D;
  padding: 15px;
  border-radius: 0px 20px 0px 5px;
  width: 40%;
  margin: 3px;

}

.trash {
  position: relative;
  top: 27px;
  left: 5px;
  float: right;
  color: #2E2E2E;
}

.timestamps-comment {
  color: #8e44ad;
  position: relative;
  top: 3px;
  font-size: 8px;
  left: 4px;
}

.post-icon{
  position: relative;
  top: 4px;
  color: #f1c40f;
  transition: color 1s;
}

.post-icon:hover {
  position: relative;
  top: 4px;
  color: #FF9100;
}

.likes-count {
  position: relative;
  top: 5px;
  font-size: 10px;
  background-color: $gray;
  margin-left: -10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0px 5px 0px 0px;
  color: $black;
}

.post-icon-like {
  position: relative;
  top: 15px;
  color: #f1c40f;
  left: -6px;
  transition: color 1s;
}
.post-icon-like:hover {
  color: #FF9100;
}

.comment-icon-like {
  position: relative;
  top: 15px;
  color: $red;
  left: -6px;
  transition: color 1s;
}
.comment-icon-like:hover {
  color: #FF9100;
}
.timestamps {
  color: #2ecc71;
  position: relative;
  top: 3px;
}



.color {
  background-color: $red;
}

.color:hover {
  background-color: $green;
}

body {
  background-image: url('backgroundtwo.png');
}
.table-head {
  background-color: #92CBF0;
  opacity: 90%;
  border-radius: 0px 10px 0px 5px;
}

.follow {
  opacity: 1.0;
  color: #BEED6D;
  transition: color 4s;
}

.follow:hover {
  color: #FA5705;

}

.table-body {
  background-color: rgba(0,0,255,0.0);
}

table {
  background-color: rgba(0,0,255,0.0);
}

.container {
  margin: 40px;
}

.form-control {
  width: 60%;
}

.image-thumb {
  height: 60px;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  animation: imag-border 5s;
}

.label {
  color: $black;
  border-radius: 3px;
  transition: color 1s;
  transition: background-color 1s;
  background-color: $gray;
}

.label:hover {
  color: $red;
  background-color: $black;
}

.small-image-thumb {
  height: 22px;
  margin: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  animation: imag-border 5s;
}

@keyframes imag-border {
    from {border-color: $orange;}
    to {border-color: $yellow;}
}

.input {
  width: 60%;
  border-radius: 5px;
  border-color: black;
  border-width: 3px;
  border-style: solid;

}

.follower {
  background-color: $gray;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

}

.user-title {
  background-color: $gray;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  color: white;  /* Fallback: assume this color ON TOP of image */
   background: url(sunset.jpg);
   background-size: 40px;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}



.timestamps {
  font-size: .5em;
}

.title {
  background-color: $black;
  border-width: 5px;
  padding: 10px;
  border-color: $aqua;
  border-style: solid;
  border-radius: 3px;
  width: 60%;
  color: $gray;
}

.right {
  background-color: $olive;
}

.top-bar {
 background-color: #1A1F19;
}

.email {
  color: $yellow;
}

.other {
  background-color: $red;
}

.other:hover {
  background-color: $yellow;
  color: $olive;
}

